/C64Ass/bin/Debug
/C64Ass/obj/Debug
/C64Studio/bin/Debug
/C64Studio/obj/Debug
/TestProject/bin/Debug
/FastColoredTextBox/bin/Debug
/FastColoredTextBox/obj/Debug
/HexBox/bin/Debug
/HexBox/obj/Debug
/MediaManager/bin/Debug
/MediaManager/obj/Debug
/MediaTool/bin/Debug
/MediaTool/obj/Debug
/TestProject/obj/Debug
/C64Ass/bin/Release
/C64Ass/obj/Release
/C64Studio/bin/Release
/C64Studio/obj/Release
/FastColoredTextBox/bin/Release
/FastColoredTextBox/obj/Release
/HexBox/bin/Release
/HexBox/obj/Release
/MediaManager/bin/Release
/MediaManager/obj/Release
/MediaTool/bin/Release
/MediaTool/obj/Release
/TestProject/bin/Release
/TestProject/obj/Release
/packages
*.suo
/C64StudioRelease/C64Studio.exe
/C64StudioRelease/FastColoredTextBox.dll
/C64StudioRelease/HexBox.dll
/C64StudioRelease/MediaManager.exe
/C64StudioRelease/MediaTool.exe
