/C64Ass/bin
/C64Ass/obj
/C64Studio/bin
/C64Studio/obj
/TestProject/bin
/FastColoredTextBox/bin
/FastColoredTextBox/obj
/HexBox/bin
/HexBox/obj
/MediaManager/bin
/MediaManager/obj
/MediaTool/bin
/MediaTool/obj
/TestProject/obj
/packages
*.suo
/Tiny64/bin
/Tiny64/obj
/Tiny64Emu/bin
/Tiny64Emu/obj
/Tiny64Cmd/bin
/Tiny64Cmd/obj
/Common/bin
/Common/obj
*.user
*.psess
/C64Studio171106.vspx
/C64Studio.VC.db
/Sample Projects/MacroTest/macro_set_var.prg
/OtherAssemblersDoc/64er_sonderheft_21 (1).pdf
*.dump
/Sample Projects/MacroTest/zones_with_quotes.prg
/.vs
/Sample Projects/Atari/sample1.prg
/Sample Projects/Atari/sample1.bin
/Sample Projects/Atari/Step 1 - Stable Display/sample1.bin
/Sample Projects/Atari/Step 10 - Random Numbers/collect.bin
/Sample Projects/Atari/Step 11 - Add the Ball Object/collect.bin
/Sample Projects/Atari/Step 3 - Score Display/collect.bin
/Sample Projects/Atari/Step 2 - Timers/collect.bin
/Sample Projects/Atari/Step 14 - Animation/collect.bin
/Sample Projects/Atari/Step 13 - Sound Effects/collect.bin
/Sample Projects/Atari/Step 12 - Add the Missile Objects/collect.bin
/Sample Projects/Atari/Step 9 - Game Varations/collect.bin
/Sample Projects/Atari/Step 8 - Select and Reset Support/collect.bin
/Sample Projects/Atari/Step 7 - Draw the Playfield/collect.bin
/Sample Projects/Atari/Step 6 - Spec Change/collect.bin
/Sample Projects/Atari/Step 5 - Automate Vertical Delay/collect.bin
/Sample Projects/Atari/Step 4 - 2 Line Kernel/collect.bin
/Sample Projects/MacroTest/unusedlabelwarningaftermacro.prg
/Sample Projects/Mega65/Text Screen RRB/Text Screen RRB.prg
/Sample Projects/Mega65/Sprites 64x21/Sprites 64x21.prg
/Sample Projects/Mega65/Sprites 16x21 NCM/Sprites 16x21 NCM.prg
/Sample Projects/Atari 2600/Step 1 - Stable Display/sample1.bin
/Sample Projects/Atari 2600/Step 10 - Random Numbers/collect.bin
/Sample Projects/Atari 2600/Step 9 - Game Varations/collect.bin
/Sample Projects/Atari 2600/Step 8 - Select and Reset Support/collect.bin
/Sample Projects/Atari 2600/Step 7 - Draw the Playfield/collect.bin
/Sample Projects/Atari 2600/Step 6 - Spec Change/collect.bin
/Sample Projects/Atari 2600/Step 5 - Automate Vertical Delay/collect.bin
/Sample Projects/Atari 2600/Step 4 - 2 Line Kernel/collect.bin
/Sample Projects/Atari 2600/Step 3 - Score Display/collect.bin
/Sample Projects/Atari 2600/Step 2 - Timers/collect.bin
/Sample Projects/Atari 2600/Step 14 - Animation/collect.bin
/Sample Projects/Atari 2600/Step 13 - Sound Effects/collect.bin
/Sample Projects/Atari 2600/Step 12 - Add the Missile Objects/collect.bin
/Sample Projects/Atari 2600/Step 11 - Add the Ball Object/collect.bin
/Sample Projects/Mega65/Text Screen RRB Parallax/Text Screen RRB Parallax.prg
/Sample Projects/MacroTest/realnumber_case1.prg
/Sample Projects/MacroTest/combined_label.prg
/Sample Projects/MacroTest/dummy4.prg
/C64Studio/BaseLib/c64.prg
/Sample Projects/MacroTest/relocationfiletest.prg
/Sample Projects/MacroTest/relocationfiletest.loc
/Sample Projects/BASIC - Include/mainlabel.prg
/Sample Projects/BASIC - Include/main.prg
/Sample Projects/BASIC and Assembly Combined/basic.prg
/Sample Projects/BASIC and Assembly Combined/assembly.prg
/Sample Projects/MacroTest/redefined_label.prg
/Sample Projects/MacroTest/nestedloopmodifiedlabel.prg
/Sample Projects/MacroTest/extralongline.prg
/C64Ass/obj
/C64Studio/obj
/FastColoredTextBox/obj
/HexBox/obj
/MediaManager/obj
/Tiny64Emu/obj
/Tiny64Cmd/obj
/TestProject/obj
/MediaTool/obj
/C64StudioRelease6.0.zip
/C64StudioRelease4.8.zip
/C64StudioRelease3.5.zip
/origC64StudioRelease.zip
/Sample Projects/MacroTest/text-pound.prg
/Sample Projects/MacroTest/macro_label_replacement.prg
/Sample Projects/MacroTest/loops_numbered_local_labels.prg
/Sample Projects/TSB Sample/sample2.prg
/Sample Projects/TSB Sample/testtokeninrem.prg
/Sample Projects/Commander X16/textscreen.prg
/Sample Projects/MacroTest/commanderx16.prg
/C64Studio/BaseLib/commanderx16.prg
/Sample Projects/Commander X16/TextScreen 20x30/textscreen.prg
/Sample Projects/Commander X16/TextScreen 40x15/textscreen.prg
/Sample Projects/Commander X16/TextScreen 40x30/textscreen.prg
/Sample Projects/Commander X16/TextScreen 80x60/textscreen.prg
/Sample Projects/Commander X16/TextScreen 20x15/textscreen.prg
/Sample Projects/Commander X16/TextScreen 80x15/textscreen.prg
/Sample Projects/Commander X16/TextScreen 80x30/textscreen.prg
/Sample Projects/Commander X16/TextScreen 40x60/textscreen.prg
/Sample Projects/Commander X16/Sprites/sprites.prg
/Sample Projects/MacroTest/shouldnotcompile.prg
/C64Studio/commanderx16palette.pal
/Sample Projects/Commander X16/Sprites 16 Colors/sprites.prg
/Sample Projects/Commander X16/Sprites 256 Colors/sprites.prg
/Sample Projects/MacroTest/po_text_pet_scr.prg
/Sample Projects/MacroTest/includetest_source.prg
/Sample Projects/MacroTest/datastringswithoutapostrophes.prg
/Sample Projects/MacroTest/basic3.5_plus4.prg
/Sample Projects/MacroTest/dependencytest1.prg
/Sample Projects/MacroTest/renumberwithinclude1.prg
/Sample Projects/MacroTest/macro_force_zeropage.prg
/Sample Projects/MacroTest/tsbrem.prg
/Sample Projects/MacroTest/tsb.prg
/Sample Projects/MacroTest/c64asm.prg
/Sample Projects/MacroTest/c64asm.bin
/SourceControl/bin
/SourceControl/obj
/Sample Projects/MacroTest/striprem.prg
/Sample Projects/MacroTest/globallabelsinoutline.prg
/Sample Projects/MacroTest/macro_ifndef.prg
/Sample Projects/MacroTest/zone.variable in outline.prg
/Sample Projects/MacroTest/renumberwithremonly.prg
/Sample Projects/MacroTest/tsbopenmacro.prg
/Sample Projects/MacroTest/booleanevaluation.prg
/Sample Projects/MacroTest/messagelocal.prg
/Sample Projects/MacroTest/reassigndifferenttype.prg
/Sample Projects/MacroTest/assignmentoperators.prg
/Sample Projects/MacroTest/labelconcat.prg
/Sample Projects/MacroTest/stringarithmetic.prg
/Sample Projects/MacroTest/macrodefined.prg
/Sample Projects/MacroTest/stringarithmetic2.prg
/Sample Projects/MacroTest/macro_ifndef2.prg
/Sample Projects/MacroTest/encodelabeltest.prg
/Sample Projects/MacroTest/empty.prg
/C64StudioRelease/net6.0-windows
/C64StudioRelease/shared content/Sample Projects/WiC64/FetchDateTime/FetchDateTime.prg
/C64StudioRelease/shared content/Sample Projects/WiC64/Highscore/highscore.prg
/C64StudioRelease/shared content/Sample Projects/WiC64/ReadUserName/ReadUserName.prg
/C64StudioRelease/shared content/Sample Projects/WiC64/SecurityID/securityid.prg
/Sample Projects/MacroTest/renumbertestongoto.prg
/Sample Projects/MacroTest/m65.prg
/Sample Projects/MacroTest/cpu_65816.prg
/Sample Projects/MacroTest/macro_overloaded.prg
/Sample Projects/MacroTest/po_nested_zone.prg
/C64Ass/publish
/Sample Projects/MacroTest/referencenotlisted.prg
/Sample Projects/MacroTest/cpc_z80.prg
/Sample Projects/MacroTest/cpc_all.prg
/Sample Projects/MacroTest/po_skip.prg
/Sample Projects/MacroTest/extrandom.prg
/Sample Projects/MacroTest/68k.prg
/Sample Projects/MacroTest/tasm.bin
/Sample Projects/MacroTest/po_scrxor.prg
/C64StudioRelease/net3.5
/C64StudioRelease/net4.8
/C64StudioRelease/net6.0
/C64StudioRelease/net6.0-windows
/C64StudioRelease/net8.0
/C64StudioRelease/net8.0-windows
/Sample Projects/MacroTest/po_while.prg
/Sample Projects/MacroTest/shifted-letters-petscii.prg
/Sample Projects/MacroTest/acme.prg
/Sample Projects/MacroTest/crc16.prg
/Sample Projects/MacroTest/test.prg
/Sample Projects/MacroTest/hi_lo_byte_operand.prg
/Sample Projects/XC-Basic3/main.bas.temp
/Sample Projects/XC-Basic3/main.prg
/Sample Projects/MacroTest/binaryconstants.prg
/Sample Projects/MacroTest/basicmaxlength.prg
/Sample Projects/MacroTest/basic_long_variables.prg
/C64StudioRelease/shared content/Sample Projects/WiC64/ReadIP/ReadIP.prg
/Sample Projects/MacroTest/renumberwithinclude2.prg
/Sample Projects/MacroTest/simpleassemble.prg
/Sample Projects/MacroTest/sbasic.prg
/Sample Projects/MacroTest/forloops_serial.prg
/Sample Projects/MacroTest/labels.txt
/Sample Projects/MacroTest/replace-test.prg
/Sample Projects/MacroTest/debugnestedloops.prg
/Sample Projects/MacroTest/wrong_line_byte_count.prg
/Sample Projects/MacroTest/grgameslogo.prg
/Sample Projects/MacroTest/multiinclude_main.prg
/Sample Projects/MacroTest/golomakdollar0.prg
/Sample Projects/MacroTest/datawithblanks.prg
/Sample Projects/MacroTest/specialchar.d64
/Sample Projects/MacroTest/myresult.d64
/Sample Projects/MacroTest/asm_as_a.prg
/Sample Projects/MacroTest/asm_as_asm.prg
/Sample Projects/MacroTest/conditional_assembly.prg
/Sample Projects/MacroTest/joytest.prg
/Sample Projects/MacroTest/petbug.prg
/Sample Projects/MacroTest/exported.bin
/Sample Projects/MacroTest/grgameslogo.bin
/Sample Projects/MacroTest/diskimage.prg
/Sample Projects/MacroTest/meinimage.d64
/Sample Projects/Sample Project 6 - Cartridge/cart8k.crt
/Sample Projects/MacroTest/po_pseudopc_wrogn.prg
/Sample Projects/MacroTest/po_pseudopc_nested.prg
/Sample Projects/MacroTest/include_spritepad.prg
/Sample Projects/MacroTest/po_jumplist.prg
/Sample Projects/MacroTest/ifstringcomparison.prg
/TestProject/bin
/Tiny64Cmd/bin
/Tiny64Emu/bin
/C64Ass/bin/ARM64/Release
/C64Studio/bin/ARM64/Release
/FastColoredTextBox/bin/ARM64/Release
/HexBox/bin/ARM64/Release
/MediaManager/bin/ARM64/Release
/MediaTool/bin/ARM64/Release
/C64StudioRelease3.5ARM.zip
/C64StudioRelease4.8ARM.zip
/C64StudioRelease6.0ARM.zip
/C64StudioRelease8.0ARM.zip
/C64StudioReleaseARM.zip
/Sample Projects/MacroTest/segment_overlapping.prg
/C64StudioRelease.zip
/Sample Projects/MacroTest/asm_macro_date.prg
/Sample Projects/MacroTest/basic_macro_date.prg
/Sample Projects/MacroTest/po_labelfile.prg
/Sample Projects/MacroTest/macro_locallabels.prg
/Sample Projects/MacroTest/outside_labels_in_for_loop.prg
/Sample Projects/MacroTest/PDS.prg
/Sample Projects/MacroTest/hi_lo_byte_operand.prg
/Sample Projects/MacroTest/po_fill.prg
/Sample Projects/MacroTest/expressions.prg
/Sample Projects/MacroTest/po_to.prg
/Sample Projects/MacroTest/po_text_pet_scr-20240812124949.prg
/Sample Projects/MacroTest/valuetabletest.prg
/Sample Projects/MacroTest/detectassembler_c64studio.prg
/Sample Projects/MacroTest/unusedlabel_error.prg
/Sample Projects/MacroTest/testmap.prg
/Sample Projects/MacroTest/macro_set_start_inside.prg
/Sample Projects/MacroTest/comments.prg
/Sample Projects/MacroTest/negativearithmetic.prg
/Sample Projects/MacroTest/ifdefexpression.prg
/C64StudioRelease/shared content/Sample Projects/Sample Project 10 - Assembler Types/dasm-test.bin
/C64StudioRelease/shared content/Sample Projects/Sample Project 10 - Assembler Types/pds2.prg
/C64StudioRelease/shared content/Sample Projects/Sample Project 10 - Assembler Types/doloop.prg
/C64StudioRelease/shared content/Sample Projects/Sample Project 10 - Assembler Types/MCMAYHEM.prg
/C64StudioRelease/shared content/Sample Projects/Sample Project 10 - Assembler Types/pds1_test.prg
/Sample Projects/MacroTest/renametest.prg
/Sample Projects/MacroTest/toprg.prg
/Sample Projects/MacroTest/tot64.prg
/Sample Projects/MacroTest/totap.tap
/Sample Projects/MacroTest/tot64.t64
/Sample Projects/MacroTest/tod64.d64
/Sample Projects/MacroTest/renumberhex.prg
/Sample Projects/NES/NES/Sprite Movements.nes
/Sample Projects/NES/NES/SpriteMovement_orig.nes
/Sample Projects/NES/NES/currentset-test.chr
/Sample Projects/MacroTest/dummy_varioustests.prg
/Sample Projects/PlotPaint/plotpaint.prg
/Sample Projects/MacroTest/C128.prg
/Sample Projects/MacroTest/basic-listing-fun.prg
/Sample Projects/VC20/Charset Screen/Custom Charset Screen.prg
/Sample Projects/Multi Project with depenencies/level1/level1.prg
/Sample Projects/Multi Project with depenencies/level2/level2.prg
/Sample Projects/Multi Project with depenencies/Main/main.prg
/Sample Projects/VC20/Charset Screen 8x16/Text Screen.prg
/Sample Projects/MacroTest/labeltestbug2.prg
/Sample Projects/MacroTest/macro_label_samename.prg
/Sample Projects/MacroTest/Basic 8.prg
/Sample Projects/MacroTest/includemain.prg
/Sample Projects/MacroTest/includemaincircular.prg
/Sample Projects/MacroTest/mixed_tabs_spaces.prg
/Sample Projects/MacroTest/debugfrom9000.prg
/Sample Projects/MacroTest/mega65-tokens.prg
/C64StudioRelease8.0.zip
/Sample Projects/MacroTest/VIC20autostart.prg
/Sample Projects/MacroTest/labelerror.prg
/Sample Projects/MacroTest/zx81-helloworld.p
/Sample Projects/MacroTest/zx81-spinnen-fertig.P
/Sample Projects/MacroTest/opcode_as_label.prg
/Sample Projects/MacroTest/mega65_nobrackets.prg
/Sample Projects/MacroTest/mega65-colors.prg
/Sample Projects/Sample Project 16 - Include Charpad File/main.prg
/Sample Projects/MacroTest/renumbertest3.prg
/Sample Projects/MacroTest/zx81-helloworld.prg
*.p
/Sample Projects/MacroTest/lowercaseletters.prg
/Sample Projects/MacroTest/renumbertestlabels.prg
/Sample Projects/MacroTest/disk.d81
/Sample Projects/MacroTest/po_text_pet_scr-20250213201814.prg
/Sample Projects/MacroTest/VIC20-8k-charset.prg
/Sample Projects/Sample Project - Bitmap Screen/DisplayScreen.prg
/Sample Projects/MacroTest/po_comments.prg
/Sample Projects/MacroTest/unusedlabels.prg
/Sample Projects/MacroTest/dummy.prg
/Sample Projects/MacroTest/labelmodewithinclude.prg
/Sample Projects/MacroTest/labelmodewithinclude2.prg
/Sample Projects/MacroTest/po_repeat.prg
/Sample Projects/MacroTest/apfelmännchen.prg
/Sample Projects/MacroTest/renumbertest4.prg
/Sample Projects/MacroTest/po_include_bin.prg
/Sample Projects/MacroTest/renumbertest.prg
/Sample Projects/MacroTest/tokencollapsed.prg
/Sample Projects/MacroTest/forum64-schachbrett.prg
/Sample Projects/MacroTest/literalchars.prg
/Sample Projects/MacroTest/mega65-dma.prg
/Sample Projects/MacroTest/replacetest.prg
/Sample Projects/MacroTest/codemapping.prg
/Sample Projects/MacroTest/VIC II.prg
/Sample Projects/MacroTest/toeasyflashcrt.crt
/Sample Projects/MacroTest/k.prg
/Sample Projects/MacroTest/fillscreen.prg
/Sample Projects/Mega65/BASIC IFF/demo.d81
/Sample Projects/Mega65/BASIC IFF/demo.prg
/Sample Projects/MacroTest/text-modes.prg
/Sample Projects/BASIC and Assembly Combined/assembly_inc.prg
/Sample Projects/MacroTest/basic_macro_in_mode.prg
/Sample Projects/MacroTest/basic_macro_numbers.prg
/Sample Projects/MacroTest/basic_length.prg
/Sample Projects/MacroTest/dependency_orig1.prg
/Sample Projects/MacroTest/dependency_orig1_include_macro.prg
/Sample Projects/MacroTest/dependency_orig2.prg
/Sample Projects/MacroTest/allc64keys.prg
/Sample Projects/MacroTest/includesymbol.prg
/Sample Projects/MacroTest/basic to d64.prg
/Sample Projects/MacroTest/basicmetabinprint.prg
/Sample Projects/Multi Project with dependencies/level1/level1.prg
/Sample Projects/Multi Project with dependencies/level2/level2.prg
/Sample Projects/Multi Project with dependencies/Main/main.prg
/Sample Projects/MacroTest/tasm.prg
/Sample Projects/MacroTest/d64-shifted-letters-petscii.d64
/Sample Projects/MacroTest/d64-shifted-letters-petscii.prg
/Sample Projects/MacroTest/po_for_loops.prg
/C64StudioRelease/shared content/Sample Projects/VIC20/Text Screen/Text Screen.prg
/C64StudioRelease/shared content/Sample Projects/Mega65/BASIC Chardef/BASIC Chardef.prg
/C64StudioRelease/shared content/Sample Projects/Mega65/Text Screen 40x25/Text Screen 40x25.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/Sprites 16 Colors/sprites.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/Sprites 256 Colors/sprites.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 20x15/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 40x15/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 20x30/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 40x30/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 40x60/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 80x15/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 80x30/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Commander X16/TextScreen 80x60/textscreen.prg
/C64StudioRelease/shared content/Sample Projects/Mega65/Text Screen 40x25 16bit Chars FCM/Text Screen 40x25 16bit Chars FCM.prg
/C64StudioRelease/shared content/Sample Projects/Mega65/Text Screen 40x25 8bit Chars NCM/Text Screen 40x25 16bit Chars NCM.prg
/C64Studio/BaseLib/zx81.prg
/C64StudioRelease/shared content/Sample Projects/Sample Project 15 - Character Screen/Character Screen.prg
